<?xml version='1.0' ?>
<model>
    <name>2WD_agent</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>luwis</name>
        <email>luwis93choi@hotmail.com</email>
    </author>

    <description>
        SDF description for 2WD agent
    </description>
</model>