<launch>
    <include file="$(find 2WD_SLAM)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="my_map_wall"/>
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="z" value="0.0"/>
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0"/>
        <arg name="sdf_robot_file" value="$(find 2WD_SLAM)/map/my_map.sdf"/>
    </include>
</launch>